.teal{
    color: black;
    background-color: #CAF7E3;
}

.pink{
    background-color: #F6DFEB;
}

.green{
    background-color: #00917C;
}

.cyan{
    background-color: #9DDFD3;
}

.white{
    background-color: whitesmoke;
}